In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
%cd /content/drive/My Drive/panda/

/content/drive/My Drive/panda

In [4]:
import numpy as np

In [37]:
df=pd.read_csv('New_York_weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

#**Replacing the values -99999 by NaN value using replace(-99999,value=np.NaN) method**

In [38]:
new_df = df.replace(-99999, value=np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

#**Replacing list with single value if we have more than one more special or wrong value in our file**

In [39]:
new_df = df.replace(to_replace=[-99999,-88888], value=0)
new_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017            0          7  Sunny
2  1/3/2017           28          0   Snow
3  1/4/2017            0          7      0
4  1/5/2017           32          0   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

#**Replacing per column**

In [9]:
new_df = df.replace({
        'temperature': -99999,
        'windspeed': -99999,
        'event': '0'
    }, np.nan)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [12]:
new_df=df.replace({'event':'0'},value='no event')
new_df

        day  temperature  windspeed     event
0  1/1/2017           32          6      Rain
1  1/2/2017       -99999          7     Sunny
2  1/3/2017           28     -99999      Snow
3  1/4/2017       -99999          7  no event
4  1/5/2017           32     -99999      Rain
5  1/6/2017           31          2     Sunny
6  1/6/2017           34          5  no event

#**Replacing by using mapping**

In [25]:
new_df = df.replace({
        -99999: np.nan,     # here we can also use any value like '0 etc
        '0': 'Sunny',
    })
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0  Sunny
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0  Sunny

#**Regex(regular expression)**

In [42]:
df=pd.read_csv('New_York_weather_data.csv')
df

        day temperature windspeed  event
0  1/1/2017         32F      6mph   Rain
1  1/2/2017      -99999      7mph  Sunny
2  1/3/2017          28    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017         32C    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

#In our data file if we encounter any non integer value then we want to remove it then we do as following

In [43]:
# when windspeed is 6 mph, 7 mph etc. & temperature is 32 F, 28 F etc. then remove non numeric from there
new_df = df.replace({'temperature': '[A-Za-z]', 'windspeed': '[a-z]'},'', regex=True) 
new_df

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017      -99999         7  Sunny
2  1/3/2017          28    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017          32    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

#**Replacing list with another list**

In [ ]:
# creating a dataframe using dictionary
df = pd.DataFrame({
    'score': ['exceptional','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
df

         score  student
0  exceptional      rob
1      average     maya
2         good  parthiv
3         poor      tom
4      average   julian
5  exceptional    erica

#Replacing poor by 1 good by 3 and so on using lists

In [ ]:
df.replace(['poor', 'average', 'good', 'exceptional'], [1,2,3,4])

   score  student
0      4      rob
1      2     maya
2      3  parthiv
3      1      tom
4      2   julian
5      4    erica